th {
	border-color: ivory;
	border-width: 5px;
	text-align: 10px;
	letter-spacing: 6px;
	padding: 1px;
	text-shadow: darkgrey;
	margin: auto;
}

i {
	font-style: Courier New;
	color: ivory;


}